    <%- include('mainheader',{title: "Jelszóemlékeztető"}) -%>

    <form class="form-signin" method="POST">
        <div mb-4">
            <h1 class="h1 mb-3 font-weight-normal text-center"><u>Jelszó emlékeztető</u></h1>
        </div>

        <div class="form-label-group col-3  mb-3 mx-auto">
            <label>Felhasználónév:</label>
            <input type="text" name="username" class="form-control" placeholder="Felhasználónév">
        <% if(typeof error !== "undefined") {%>
            <div class="alert alert-danger"><%= error %></div>
            <% } %>
        </div>

        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Rendben"/>
            <a class="btn btn-warning" href="/" role="button">Vissza</a>
        </div>
    </form>

    <%- include('footer') -%>